@import '../../../../styles/type-styles';

.card-tout {
  height: 100%;
  padding: 48px 56px;

  &__title {
    color: #680075;
  }

  &--primary {
    background-color: #680075;

    .card-tout__title {
      color: #04FFC8;
    }

    .card-tout__caption {
      color: #fff;
    }
  }

  &--secondary {
    background-color: #04FFC8;

    .card-tout__title {
      color: #680075;
    }
  }

  &__caption {
    @extend %card-caption;
  }
}