@import '../../../../build/design-tokens/_tokens.css';
@import '../../../../styles/_type-styles.css';

.cardTout {
  height: 100%;
  padding: 48px 56px;
}

.cardTout--primary {
  background-color: var(--global-violet-500);

  .title {
    color: var(--global-green-400);
  }

  .caption {
    color: #fff;
  }
}

.cardTout--secondary {
  background-color: var(--global-green-400);

  .title {
    color: var(--global-violet-500);
  }
}

.cardTout--dark {
  background-color: var(--global-grey-300);

  .title {
    color: var(--global-green-400);
  }

  .caption {
    color: #fff;
  }
}

.title {
  color: var(--global-violet-500);
}

.caption {
  @extend %card-caption;
}