@import '../../../../styles/_type-styles.css';

.cardTout {
  height: 100%;
  padding: 48px 56px;
}

.cardTout--primary {
  background-color: var(--global-violet-500);
}

.cardTout--primary .title {
  color: var(--global-green-400);
}

.cardTout--primary .caption {
  color: #fff;
}

.cardTout--secondary {
  background-color: var(--global-green-400);
}

.cardTout--secondary .title {
  color: var(--global-violet-500);
}

.cardTout--dark {
  background-color: var(--global-grey-300);
}

.cardTout--dark .title {
  color: var(--global-green-400);
}

.cardTout--dark .caption {
  color: #fff;
}

.title {
  color: var(--global-violet-500);
}

.caption {
  @extend %card-caption;
}