/* .card-tout {
  height: 100%;
  padding: 8px 16px;
} */

.card-tout--light {
  height: 100%;
  padding: 16px 24px;
}

.card-tout--primary {
  height: 100%;
  padding: 16px 24px;
  background-color: #680075;
}

.card-tout--secondary {
  height: 100%;
  padding: 16px 24px;
  background-color: #04FFC8;
}