/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;900&family=Quicksand&display=swap');

/* Global styles for elements */
@import './_reset.css';
@import './_type-styles.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  @extend %body-style;
  color: var(--global-violet-500);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  @extend %body-style;
  @extend %elementreset;
}

/* Headings */

h1,
h2,
h4 {
  @extend %elementreset;
}

h1 {
  @extend %heading01;
  margin: 16px auto 32px;
}

h2 {
  @extend %heading02;
  margin: 8px auto 16px;
}

h4 {
  @extend %heading04;
  margin-bottom: 16px;
}